{%- assign top_10 = "Ad Specialties (Pens, T-Shirts, etc)|Auto Detailer|Landscape Maintenance / Contractor|HVAC (Heating/Venting & A/C)|Florist|Carpet Cleaner|Gift Baskets|Pool Service|Painter|Massage Therapist" | split: "|" -%}

<div class="container margin-b-30">
  <div class="row">
    <div class="col-sm-4 padding-15">
      <img src="/assets/img/logo-letip.png" class="img-responsive center-block">
    </div>
    <div class="col-sm-8 padding-15">
      <p class="h2">Make 2018 the best year ever for your business!</p>
      <p class="lead">We are in need of business professionals to fill these categories:<br>
        <strong>{% for cat in top_10 | sort %}{{ cat }}
                  {% if forloop.last == true %}{% else %} - {% endif %}
                  {%- endfor %}</strong></p>
    </div>  
  </div>
</div> <!-- /container -->